@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@400;500;600;800;900&display=swap');
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    color:rgb(92, 86, 86);
   font-family: 'Poppins', sans-serif;;
}
.logo{
    font-size: 2.1rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right,rgb(90, 104, 90),
    rgb(107, 119, 126),rgb(129, 129, 115));
border-radius:1.0rem;
color: transparent;
-webkit-background-clip: text;
transition: all .3s;
cursor: pointer;
}
nav{
    background-color: #313333;
  padding: 2rem;
  display: flex;
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 3px 3px 3px rgb(76, 87, 87);
  justify-content:space-between;
  top: 0%;
  scroll-behavior: smooth;
  width: 100%;
  align-items: center;
}
/* .logo-container{
  padding: 1.2rem;
  color: blanchedalmond;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
} */
.nav-links{
   display: flex;
   gap: 1.5rem;
   font-size: 2rem;
   list-style-type: none;
   align-items: center;
}

.nav-link:link,
.nav-link:visited{
color: #969191;
font-size: 1.6rem;
text-decoration: none;
transition: all 0.8s;
padding: 1rem 0;
}
.nav-link:hover,
.nav-link:active{
   /* color:red;
border-bottom: 2px solid yellow ; */
}
li:not(:last-child) .nav-link:hover,
li:not(:last-child) .nav-link:active{
    color:rgb(104, 80, 80);
    border-bottom: 2px solid rgb(119, 119, 95); 
}
.button-container{
    background-color: #070707;
    
    background-image: linear-gradient(to left,rgb(75, 68, 68),rgb(50, 105, 105),rgb(47, 47, 109));
    color: transparent;
    -webkit-background-clip: text;
}
.btn-green:link,
.btn-green:visited{
    background-color: rgb(102, 104, 102);
    color: black;
    transition: all 0.3s;
}
.btn:link,
.btn:visited{
    padding: 1rem 3rem;
    border-radius: 0.8rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
   
}
.btn-green:hover{
   transform: translateY(-3px);
   box-shadow: 2px 3px 3px rgba(252, 251, 253, 0.452);
    
}
.btn:active{
    transform: translatey(-1px);
    box-shadow: 2px 3px 3px rgba(255, 255, 255, 0.452);
} 
.home-container{
    background-color:rgb(48, 47, 47);
    height: 100vh;
    width: 100%;
} 
.home{
    display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between !important;
}
.positioning{
    position: relative;
    width: 50%;
}
.welcome-text{
    position: absolute;
    left:30%;
    top: 50%;
    transform: translate(0, -50%);
    border: 4px solid rgb(92, 92, 94);
    padding: 2rem;
    border-radius: .5rem;

}
.welcome-text h5{
    font-size: 1.8rem;
    font-weight: 400;
    font-size: 1.8rem;
}
.welcome-text p{
font-size: 1.4rem;
color: rgba(255, 252, 252, 0.719);
font-weight: 400;
text-align: center;
border-radius: .5rem;
/* background-color: bisque; */
}
.image-container{
   display: flex;
   height: 100%;
   margin-right: 20%;
   padding-top: 12rem ;
  border-radius: 50%;
  
}
.image-container img{
  height: 100%; 
    object-fit: cover;
    justify-self: left;
    /* border-radius: 50%; */
border-radius: 100%;
    /* align-self: normal; */
    /* transform: rotate(-180deg); when we are using this css
    image take another direction,and use on child*/
  transition: all .3s;
  width: 100%;
   
}
.image-container img:hover{
    transform: rotate(-32deg);
   
}
.asalute{
    /* color: rgb(155, 37, 37); */
display: block;
text-align: center;
margin: .2rem;
color: rgb(160, 154, 154);
}
.name{
    /* background-color: rgb(117, 113, 168); */
    font-size: 1.5rem;
    /* color: rgb(196, 253, 255); */
border-radius: .5rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: .3rem;
display:inline-block;
text-transform: uppercase;
text-align: center;
margin-bottom: 1.2rem;
display: block;
color: #cec3c3;
}
.button-container{
    display: block;
    text-align: center;
    margin: 3rem;
    transition: all .3rem;
    backface-visibility: hidden;
}
.btn-none:link,.btn-none:visited{
color: rgb(228, 223, 223);
font-size: 1.6rem;
border: 1px solid rgba(187, 172, 172, 0.199);
transition: all .3s;
}
.btn-none:hover,
.btn-none:active{
background-color: rgba(124, 185, 212, 0.226);
transform: (12deg);
}
.headin-title{
    font-size: 4.8rem;
   font-weight: 700;
  letter-spacing: 4px;
  padding: 3rem;
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right,rgba(93, 94, 93, 0.685),
  rgba(138, 143, 145, 0.5),rgba(184, 184, 178, 0.767)); 
  position:relative; 
}
.headin-title::before{
content: '';
bottom: 0%;
left: 0%;
height: 5px;
width: 25%;
background-image: linear-gradient(to letf,rgb(185, 173, 173), 
rgb(143, 143, 121), rgb(162, 177, 177));
position: absolute;
font-size: 1.2rem;
}
.headin-title::after{
    content: '';
    top: 7%;
    left: 7%;
    height: 5px;
    width:50%;
    background-image: linear-gradient(to right,rgb(199, 160, 160),
    rgb(187, 187, 151),rgb(192, 224, 224));
    position: absolute;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 3.8rem;
}
.img-bg{
    background-image: linear-gradient(to left bottom,
    rgb(139, 127, 127),rgb(130, 143, 143),rgb(148, 148, 137));
}
.about{
    display: flex;
    width: 100%;
    gap: .3rem;
    align-items: center;
    justify-content: space-around;
}
.about-text{
    margin-top: 2rem;
}
.about-text p{
font-size: 1.8rem;
padding: 3rem 3rem;
color: #a2aaaa;
/* background-color: red; */
}
.text-left{
    text-align: left !important;
}
.about-image{
    width: 50%;
    padding: 3rem;
    transition: all .3rem;
    position: relative;
    border: none;
}
.about-image:hover::before{
    content: '';
    border: 1rem solid rgb(108, 140, 153);
    width: 100%;
    height: 80%;
}
.about-image::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 2rem;
    display: block;
    border-left: 1rem solid rgb(131, 182, 182);
    border-top: rgb(127, 158, 158);
}
.about-image::after{
    content: '';
    position: absolute;
    display: block;
    bottom: 0%;
    right: 0%;
    padding: 2rem;
    border-right: 1rem solid rgb(142, 199, 199);
    border-bottom: 1rem solid rgb(145, 185, 185);
}
.about-image img{
    width: 90%;
    height: 100%;
}
.about-container{
    background-color: rgb(63, 60, 60);
    height: 100%;
}
.portifolio-container{
    background-color: rgb(51, 49, 49);
    width: 100%;
    height: 150%;
}
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 8rem;
    padding: 2rem;
}
.card{
    background-color: #58787a;
    border-radius: 0.8rem;
    padding: 3rem;
    box-shadow: 1px 3px 3px rgb(168, 88, 88);
   transition: all .3re;
}
.card:hover{
    background-color: rgb(56, 61, 61);
    transform: translate(10px, -10px);
}
.card-container i{
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.card-container h3{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem; 
}
.card-container p{
    font-size: 1.4rem;

}
.link-portifolio:link,
.link-portifolio:visited{
color: rgb(36, 51, 51);
text-decoration: none;
font-size: 1.4rem;
display: inline-block;
margin-top: 2rem;
}
.skills-container{
    background-color: #404444;
}
.image-container{
    display: flex;
 /* width: 100%; */
    margin-top: 2rem;
justify-content: space-between;
gap: 3rem;
margin-left: 2rem;
margin-right: 2rem;

}
.skills-card{
    width: 700px;
    max-height: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.skills-card img{
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
    /* background-color: rgba(91, 85, 173, 0.384); */
margin-top: .2rem;

}
.skills-content:hover
 .skills-content--content{
    background-image: linear-gradient(to left bottom ,
    rgb(153, 87, 87) rgb(31, 104, 104) rgb(65, 57, 57)) !important;
  color: transparent !important;
    -webkit-background-clip: text !important;
    display: flex;
}
@keyframes scroll {
0%{
    transform: translateY(100%);
}    
100%{
    transform: translateY(0);
}
}
.skills-content{
    border-radius: 12px;
    transition: all 10s;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(
        to left bottom,
        rgba(66, 68, 66, 0.625),
        rgba(66, 52, 52, 0.682)
      ); 
}
.skills-content--content{
    display: flex;
    flex-direction: column;
    height: 100%;
    display: none;
    overflow: hidden;
    align-items: center;
    border-radius: 12px;
    padding: 3rem;
    transition: all 0.8s;
    animation-name: scroll;
    animation-duration: 1s;
    backdrop-filter: blur;
    justify-content: center;
  
}
.skills-content--content h3{
    font-size: 1.8rem;
    margin-top: 1.5rem;
    padding: 5rem;
    font-weight: 700;
    color: rgb(170, 159, 159);
    /* text-decoration: underline; */
border-bottom: 2px solid rgb(68, 63, 63);
background-image: linear-gradient(to right,rgb(241, 241, 236),
rgb(175, 173, 173),rgb(147, 155, 147)); 
color: transparent;
-webkit-background-clip: text;
}
.skills-content--content p{
    font-size: 1.6rem;
    color: black;
    font-weight: 700;
}
.skills-icon-container{
    /* background-color: aliceblue; */
    display: block;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 50%;
}
.skills-content--content i{
    font-size: 1.6rem;
    cursor: pointer;
    
}
.contact-container{
    background-color: #383b3b;
}
.contact{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}
.contact-left{
 background-image: linear-gradient(to right top,rgb(173, 167, 167),
 rgb(150, 139, 139),rgb(165, 165, 151));;   
padding: 3rem;
width: 40%;


}
.contact-left h3{
    font-size: 2.4rem;
}
.contact-left p{
    font-size: 1.6rem;
}
.text-welcome{
    margin-top: 2rem;
}
.contact-left span{
display: block;
}
.contact-right{
 background-color: #58787a;   
padding: 3rem;
width: 45%;
background-image: linear-gradient(to right bottom ,rgb(145, 137, 137),
rgb(117, 105, 105),rgb(109, 109, 98));
}
.contact-right h3{
    font-size: 2.4rem;
    text-align: right;
    font-weight: 500;
}
.social-media{
    margin-top: 2rem;
}
.media-icon{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}
.media-icon i{
    font-size: 1.8rem;
}
.media-icon h3{
    font-size: 1.8rem;
}
.media-icon p{
    font-size: 1.6rem;
    font-weight: 400;
}
.media-icon span{
    display: block;
}
.social-media-icons-links{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.social-media-icons-links{
    font-size: 1.8rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    justify-content: center;
}
input,textarea{
    padding: 1.5rem;
}
.btn-red:link,
.btn-red:visited{
background-color: rgb(141, 54, 54);
color: white;
font-size: 1.5rem;
font-size: 1.5rem;
transition: all 0.3s;
}
.btn-red:hover,
.btn-red:active{
    background-color: rgb(47, 112, 47);
}
.footer-container{
    background-color: gray;
    padding: 2rem;
    text-align: center;
    width: 75%;
}
.footer-container p{
    font-size: 1.6rem;
}
.link-media-fixed{
 position: fixed;
 display: flex; 
 align-items: flex-end;
 justify-content: center;
 flex-direction: column;
 bottom: 0;
 text-align: center;
 gap: 2rem;
 left: 2rem;  
}
.git{
    font-size: 1.8rem;
    display: inline-block;
    cursor: pointer;
    transition: all 0.sec;
}
.git:hover{
    color: rgb(35, 87, 35);
    transform: translate(3px, -5px);
}
.links-media-fixed::after,
.email-link-fixed::after{
    content: "";
    display: flex;
    align-self: center;
    justify-self: center;
    height: 150px;
    width: 3px;
    background-color: #eee;
}
.email-link-fixed{
text-align: center;
right: 2%;
position: fixed;
display: flex;
flex-direction: column;
gap: 2rem;
bottom: 0;
}
.email-link-fixed p{
    -webkit-writing-mode:vertical-rl;
    font-size: 1.6rem;
}
.login-container{
    background-color: black;
}
.input{
    text-align: center;
}
.legend{
    text-align: center;
    font-size: 2rem;
    color: blue;
}
.fieldset{
    width: 70px;
    padding: 50px 50px;
    background-color: #c4b03b;
    
}
.bloge-container{
    background-color: #1d1b1b;
}
.image-text{
   
    display: flex;
    justify-content: space-between;
}
.blog-text{
    font-size: 2rem;
    margin-top: .3rem;
    /* font-weight: 800; */
    font-style: italic;
}
.blog-name{
    font-size: 4rem;
    /* text-decoration:underline; */
    margin-top: 5rem;
    /* color: white; */
    margin-bottom: 4rem;
}
.image-containers{
    margin-right: 12rem;
}
.more{
    color: #58787a;
}
a{
    color: rgb(73, 126, 71);
    text-decoration: underline;
}
