/* .blogee{
    text-align: center;
} */
.first-par{
    text-align: center;
}
.name{
    color: rgb(97, 97, 211);
}
.lists h1{
    margin-left: 8rem;
}
.camp{
    color: rgb(86, 86, 192); 
}
h3{
    color: rgb(86, 86, 192);
    margin-left: 5rem;
}
.con{
    color:  rgb(86, 86, 192);;
}
.wish{
color: rgb(97, 97, 211);
}